.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.column {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
}

.double {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    flex-grow: 2;
}